<!--
<p [ngClass]="hasError ? 'error' : 'success' "
[ngStyle]="{ 'text-decoration': hasError ? 'underline' : 'unset',
              'font-weight': hasError ? 400 : 700,
}"

>
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem officia dignissimos minima,
   reiciendis tempore quae perferendis asperiores odio, illum alias eveniet maiores reprehenderit!
    Velit at eligendi esse eveniet et perferendis.
  </p>
-->
<!-- 
  o en p: [style.font-weight]="hasError ? 400 : 700"
-->

<br />
<!--
<button [disabled]="isDisabled"  (click)="alternarError()">
  Click me!
</button>
-->

<button  [disabled]="mostrarAprobados" (click)="alternarAprobados()">
  Listar Estudiantes aprobados
</button>
<br />
<br>
<button  [disabled]="!mostrarAprobados" (click)="alternarAprobados()">
  Listar Estudiantes desaprobados
</button>
<!--
<ul>
  <li *ngFor="let student of students; let i = index">
    {{i }} - {{student}}
  </li>
</ul>
<br>


<hr />
<h2>Pruebas de Condicionales</h2>

<button (click)="mostrarListado = !mostrarListado">
  Mostrar Listado!
</button>

-->

<ul *ngIf="mostrarAprobados">
  <h3>Estudiantes Aprobados</h3>
  <h4>Fecha de la prueba final: {{fechaPrueba | date : 'dd/MM/YYYY'}}</h4>
  @for (student of students ; track $index){
  <li *ngIf="student.aprobado"
  [ngClass]="{'error': !student.aprobado, 'success': student.aprobado}"
  [ngStyle]="{'text-decoration': !student.aprobado ? 'underline' : 'unset', 'font-weight': !student.aprobado ? 'normal' : 'bold'}"
  >
    {{$index}}  - {{student.nombre}}
  </li>
  }
</ul>

<ul *ngIf="!mostrarAprobados">
  <h3>Estudiantes Desaprobados</h3>
  <h4>Fecha de la prueba final: {{fechaPrueba | date : 'dd/MM/YYYY'}}</h4>
  @for (student of students; track $index){
  <li *ngIf="!student.aprobado"
  [ngClass]="{'error': !student.aprobado, 'success': student.aprobado}"
  [ngStyle]="{'text-decoration': !student.aprobado ? 'underline' : 'unset', 'font-weight': !student.aprobado ? 'normal' : 'bold'}"
  >
    {{$index}}  - {{student.nombre}}
  </li>
  }
</ul>


<!--
<hr />
<h2>Pruebas de Switch</h2>

<select (change)="onSelectChange($event)">
  <option value="ExAlumno">Ex alumno</option>
  <option value="Egresado">Egresado</option>
  <option value="Inscripto">Inscripto</option>
</select>

<div [ngSwitch]="status">
  <p *ngSwitchCase="'ExAlumno'"> El Alumno ya no estudia en el instituto</p>
  <p *ngSwitchCase="'Egresado'"> El Alumno egreso instituto</p>
  <p *ngSwitchCase="'Inscripto'"> El Alumno estudia en el instituto</p>

  <p *ngSwitchDefault>ERROR: El estado es conocido</p>
</div>

@switch (status) {
  @case ('ExAlumno') {
    <p>Es ExAlumno</p>
  }

  @case ('Inscripto') {
    <p>Es Estudiante</p>
  }

  @case ('Egresado') {
    <p>Es Egresado</p>
  }

  @default {
    <p>ERROR - No hay info</p>
  }
}

<hr>
<h2>Tipos de lanzamiento: Bind pruebas ?</h2>

<p>Enlazamiento de Entrada []</p>
<p>Enlazamiento de Entrada ()</p>
<p>Enlazamiento de Entrada [()]</p>

<hr>
<h2>Pipes</h2>
<h3>Date: </h3>
<p>{{myBirthday | date : 'dd/MM/YYYY'}}</p>


<hr>
<h4>uppercase/lowercase</h4>
<p>{{"Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis, libero!
   Aperiam inventore repellat praesentium repudiandae beatae, recusandae non 
   temporibus vel quam tempore, ipsam voluptas porro nostrum! Rem quidem blanditiis dolores?" | uppercase }}
  </p>

  <p>{{"Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis, libero!
    Aperiam inventore repellat praesentium repudiandae beatae, recusandae non 
    temporibus vel quam tempore, ipsam voluptas porro nostrum! Rem quidem blanditiis dolores?" | lowercase }}
   </p>

  -->


